*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
}
.main{
width: 100%;
height: 700px;
background-color: #202020;
display: flex;

margin-top: 150px;

/* #################################### header section starts ############################################################################# */

}
.left{
    width: 50%;
    height: inherit;
    
    display: flex;
    
}
.right{
    width: 50%;
    height: inherit;
    
    background-image: url(Put\ Your\ Image.png);
    background-size: 100%;
    background-repeat: no-repeat;

   
}
.l1{
    width: 20%;
    height: inherit;
   
}
.l2{
    width: 95%;
    height: inherit;
 
}
.l3{
    /* width: 5%; */
    width: 0%;
    height: inherit;

}
.line1{
    width: 5px;
    height: 34px;
    opacity: 0.251;
background-color: #45576e;
border: 1px solid #999999;
margin-top: 300px;
margin-left: 10px;
}
.line2{
    width: 5px;
    height: 34px;
    opacity: 0.551; 
    background-color: #e74c3c;;

margin-top: 15px;
margin-left: 10px;
}
.line3{
    width: 5px;
    height: 34px;
    opacity: 0.251;
    background-color: #45576e;
border: 1px solid #999999;
margin-top: 15px;
margin-left: 10px;
}
t{
    width: inherit;
    display: flex;
}
.t1{
    font-size: 36px;
letter-spacing: 4px;
color: #f4f5f9;
font-weight: 700;
font-family: "Source Sans Pro";
margin-left: 180px;
margin-top: 150px;
}
.t2{
width: 6px;
height: 36px;
background-color: #e74c3c;
margin-left: 540px;
margin-top: -40px;
}
.t3{
    width: inherit;
height: 30px;
font-size: 18px;
line-height: 29px;
color: #e74c3c;
font-weight: 600;
font-family: "Open Sans";
margin-top: 30px;
margin-left: 410px;
}
.t4{
 width: inherit;
height: 30px;
font-size: 14px;
line-height: 29px;
color: #999999;
font-weight: 400;
font-family: "Source Sans Pro";
margin-left: 90px;
margin-right: 60px;
text-align: justify;
}
.t6{
width: inherit;
height: 30px;
font-size: 14px;
line-height: 29px;
color: #999999;
font-weight: 400;
font-family: "Source Sans Pro";
margin-left: 90px;
margin-right: 60PX;
text-align: justify;
}
.t7{
    width: inherit;
height: 30px;
font-size: 18px;
line-height: 29px;
color: #e74c3c;
font-weight: 600;
font-family: "Open Sans";
margin-top: 90px;
margin-left: 410px;
}
.t8{
    width: inherit;
    height: 30px;
    font-size: 18px;
    line-height: 29px;
    color: #e74c3c;
    font-weight: 600;
    font-family: "Open Sans";
    margin-top: 90px;
    margin-left: 410px;

}
.t9{
    width: inherit;
height: 30px;
font-size: 14px;
line-height: 29px;
color: #999999;
font-weight: 400;
font-family: "Source Sans Pro";
margin-left: 90px;
margin-right: 60PX;
text-align: justify;

}
.f1{
    width: inherit;
    height: inherit;
    
}
.c1{
    height: 70px;
    width: 70px;
    border: 1px solid #999999;
    background-color: whitesmoke;
    border-radius: 50%;
    margin-left: -35px;
    margin-top: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c11{
    height: 60px;
    width: 60px;
    border: 2px solid #999999;
    background-color: whitesmoke;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#i1{
    color: #e74c3c;
    font-size: large;
    background-color: whitesmoke;
}
.c2{
    height: 70px;
    width: 70px;
    border: 1px solid #999999;
    background-color: whitesmoke;
    border-radius: 50%;
    margin-left: -35px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c12{
    height: 60px;
    width: 60px;
    border: 2px solid #999999;
    background-color: whitesmoke;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#i2{
    color: #e74c3c;
    font-size: large;
    background-color: whitesmoke;
}
#i3{
    color: #e74c3c;
    font-size: large;
    background-color: whitesmoke;
}

