*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .main{
    width: 100%;
    height: 730px;
    background-image: url(Put\ Your\ Image.svg);
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center; */

    
}
.wave{
    width: inherit;
    height: inherit;
    background-image: url(Shape\ 174\ copy.svg);
    background-repeat: no-repeat;
    /* background-position-y:-300px; */
    background-position: bottom;
    /* opacity: 0.502; */
 
}
/* .wave1{
    width: 100%;
    height: 730px;
    background-image: url(wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
  
    
} */
.i1{
    /* transform: translateY(400px); */
    /* opacity: 0.102;
    z-index: -1; */
}
.i2{
    transform: translateY(50px);
    opacity: 0.502;
    z-index: 2;
   
    
    /* height: 700px; */
}
.c1{
    width: 57px;
height: 56px;
border-radius: 28px;
background-color: #ffffff;
transform: translateY(-320px);
background-image: url(Ellipse\ 1.svg);
margin-left: 260px;
}
.c2{
    width: 57px;
    height: 56px;
    border-radius: 28px;
    background-color: #ffffff;
    transform: translateY(-410px);
    background-image: url(Ellipse\ 2.svg);
    margin-left: 555px;
}
.c3{
    width: 57px;
    height: 56px;
    border-radius: 28px;
    background-color: #ffffff;
    transform: translateY(-460px);
    background-image: url(Ellipse\ 3.svg);
    margin-left: 780px;
}
.c4{
    width: 57px;
    height: 56px;
    border-radius: 28px;
    background-color: #ffffff;
    transform: translateY(-480px);
    background-image: url(Ellipse\ 4.svg);
    margin-left: 1030px;
}
.c5{
    width: 57px;
    height: 56px;
    border-radius: 28px;
    background-color: #ffffff;
    transform: translateY(-580px);
    background-image: url(Ellipse\ 1\ \(1\).svg);
    margin-left: 1290px;
}
.p1{
    width: 400px;
    height: 400px;
background: none;
transform: translate(0px,20px);
}
.p2{
    font-size: 36px;
    letter-spacing: 4px;
    color: #ffffff;
    font-weight: 700;
    background: none;
    font-family: "Source Sans Pro";
}
.p3{
    width: 313px;
height: 39px;
font-size: 14px;
line-height: 29px;
color: #f4f5f9;
font-weight: 400;
font-family: "Open Sans";
background: none;
/* text-align: center; */
/* transform: translate(560px,230px); */
}

.p4{
    width: 400px;
    background: none;
    display: flex;
    justify-content: space-around;
    /* transform: translate(500px,250px); */
}
.p5{
    height: 5px;
    width: 80px;
    background-color: #f4f5f9;
}
.p6{
    width: 20px;
height: 20px;
border-radius: 50%;
background-color: #e74c3c;
margin-top: -5px;
}

